.footerContainer{

 text-align: center;
 margin-top:16%
}

.footerLink{
    font-family: 'Tajawal, sans-serif';
    color: white
}
a:link,a:visited{
    text-decoration: none;
    color: white;
}

a:hover, a:active {
   color: #330867;
  }